.authContainer {
  padding: 20px;
}

.formContainer {
  margin-top: 40px;
}
.formContentContainer {
  /* */
  background-color: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 40px 20px;
}

.formImageContainer {
  display: none;
  text-align: center;
}
.formImageContainer h4 {
  font-size: 40px;
  line-height: 42px;
  color: #002242;
  text-align: center;
  margin: 0px;
}

.formContentHeader {
  padding: 20px 0 40px 0;
}
.formContentHeader h4 {
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
  color: rgb(0, 52, 100);
}

.formContentHeader p {
  color: rgb(119, 119, 122);
  font-size: 15px;
  font-weight: 500;
  line-height: 0px;
}
.formContentHeader a {
  color: rgb(0, 103, 199);
}

.passwordFeedback p {
  margin: 4px 0;
}

.passwordFeedback .valid {
  color: green;
}

.passwordFeedback .invalid {
  color: red;
}

.inputGroup {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 16px;
}

.authButton {
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  background: rgb(0, 103, 199);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 15px 0px;
  box-shadow: rgb(172, 235, 132) 4px -4px 0px 0px;
  margin: 20px 0px 0px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .formContainer {
    max-width: 1000px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .formContentContainer {
    border-radius: 24px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
  }
  .formImageContainer {
    display: inline-block;
  }
  .formImageContainer h4 {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
  }
  .inputGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}
