.dashNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navAvatarContainer {
  position: relative;
  border-radius: 100px;
  background: #fff;
  width: 48px;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0.15) 0.15px 1.5px 3px 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}
.dashNavRightContainer {
  display: flex;
  align-items: center;
  gap: 26px;
}

.dashboardContainer {
  padding: 20px;
}

.notificationBar {
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid;
  background: linear-gradient(0deg, rgb(120, 80, 6), rgb(120, 80, 6));
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.notificationBar button {
  background-color: inherit;
  border: none;
  text-decoration: underline;
  color: #fff;
}

.dashboardContainer header {
  padding: 20px 0;
}
.dashboardContainer header h4 {
  color: rgb(52, 55, 63);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
}
.dashboardContainer header p {
  color: rgb(129, 137, 158);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin: 7px 0px 0px;
}

.accountCard {
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  border: 1px;
  /* height: 100%; */
  min-width: 295px;
  padding: 20px;
}

.transactionsCard {
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  border: 1px;
  /* height: 100%; */
  min-width: 295px;
  margin-top: 40px;
  padding: 20px;
}

.documentsModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.documentsModal.open {
  opacity: 1;
  visibility: visible;
  align-items: center;
}

.documentsModalContent {
  background: white;
  width: 100%;
  padding: 40px 20px;
  border-radius: 16px 16px 0 0;
  transform: translateY(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.documentsModal.open .documentsModalContent {
  transform: translateY(0);
  opacity: 1;
}

.mb-10 {
  margin-bottom: 16px;
}

.previewImage {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.uploadButton {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  background: #0067c7;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  padding: 14px 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0.15px 1.5px 3px 0px;
  margin: 0px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  opacity: 1;
  border: none;
  margin-top: 20px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexWrap {
  flex-wrap: wrap;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}
.gap16 {
  gap: 16px;
}

.accountCardButton {
  border: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  border-radius: 6px;
  padding: 8px 14px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  opacity: 1;
  color: #fff;
}

.paymentCard {
  margin: 0px 0px 30px;
  background: linear-gradient(221.21deg, rgb(96, 239, 255) 7.92%, rgb(0, 97, 255) 44.79%, rgb(0, 97, 255) 91.72%);
  color: rgb(249, 249, 255);
  border-radius: 16px;
  padding: 20px;
}
.cardsGrid {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}

.paymentCardButton {
  border: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  background: rgba(214, 227, 255, 0.5);
  border-radius: 45px;
  padding: 12px 20px;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
  opacity: 1;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
  .dashNav {
    padding: 20px 60px;
  }
  .dashboardContainer {
    padding: 40px 60px;
  }

  .notificationBar {
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }

  .documentsModal {
    align-items: center;
  }
  .documentsModalContent {
    max-width: 600px;
    transform: translateY(0);
    opacity: 1;
    border-radius: 16px;
    margin: auto;
  }
  .cardsGrid {
    grid-template-columns: 60% 40%;
  }
}
