.inputContainer {
  margin-bottom: 16px;
}
.input {
  border-radius: 8px;
  border: 1px solid rgb(199, 198, 202);
  padding: 12px;
  margin-top: 8px;
  transition: border-color 0.3s ease;
}

.input.inputError {
  border-color: #e71d36;
}

.inputBox {
  border: none;
  width: 100%;
  outline: none;
  margin-right: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
  background-color: inherit;
}

.customDropDownWrapper {
  transition: border-color 0.3s ease;
  position: relative;
}

.customDropDown {
  border-radius: 8px;
  border: 1px solid rgb(199, 198, 202);
  padding: 12px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.customDropDown.dropdownError {
  border-color: #e71d36;
}

.customDropDown input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
  cursor: pointer;
  background-color: inherit;
}

.customDropDownListContainer {
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(199, 198, 202);
  border-radius: 0 0 8px 8px;
  list-style: none;
  padding: 20px 10px;
  margin: 0;
}

.customDropDownListItem {
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.customDropDownListItem:hover {
  background-color: rgb(51, 51, 51, 0.1);
  padding-left: 5px;
}

.inputErrorContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #e71d36;
  padding: 5px 0;
}

.button {
  border: none;
}

.loader {
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  border-top: #000000;
  animation: circular-loader 2s linear infinite;
}

@keyframes circular-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
